<div class="contacts">
  <div class="contacts-header">
    <h1 class="contacts-header-title">Studento kontaktinė informacija</h1>
  </div>

  <div class="contacts-student">
      <div class="contacts-student-picture">
          <img src="../../assets/images/profile-pic.jpg">
      </div>
      <div class="contacts-student-details">
        <p><span>Studentas:</span> John Doe</p>
        <p><span>Grupė: </span>PI15B</p>
        <p><span>Studijų programa: </span>Programų sistemos</p>
        <p><span>Fakultetas: </span>Elektronikos ir informatikos fakultetas</p>
      </div>
  </div>

  <form class="contacts-form">
      <div class="contacts-form-field">
        <input class="contacts-form-field-input" type="text" id="address" required value="Paribio g. 30-1">
        <label class="contacts-form-field-label" for="address">Adresas</label>
      </div>
      <div class="contacts-form-field">
        <input class="contacts-form-field-input" type="text" id="city" required value="Vilnius">
        <label class="contacts-form-field-label" for="city">Miestas</label>
      </div>
      <div class="contacts-form-field">
        <input class="contacts-form-field-input" type="text" id="country" required value="Lietuva">
        <label class="contacts-form-field-label" for="country">Šalis</label>
      </div>
      <div class="contacts-form-field">
        <input class="contacts-form-field-input" type="text" id="post" required value="08103">
        <label class="contacts-form-field-label" for="post">Pašto kodas</label>
      </div>
      <div class="contacts-form-field">
        <input class="contacts-form-field-input" type="phone" id="phone" required value="+37064882747">
        <label class="contacts-form-field-label" for="phone">Telefono numeris</label>
      </div>
      <div class="contacts-form-field">
        <input class="contacts-form-field-input" type="email" id="email" required value="ieva.misk@gmail.com">
        <label class="contacts-form-field-label" for="email">Elektoninis paštas</label>
      </div>
      <button class="contacts-form-button">Išsaugoti</button> 
  </form>
  <p class="contacts-notice">
      Studijų sutarties III skyrius "Studento įsipareigojimai": Informuoti apie 
      sutartyje nurodytų kontaktinių duomenų (adreso, telefono, elektroninio pašto) 
      pasikeitimą.
  </p>
</div>